@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --color-primary: #ff7a2f;
  --color-secondary: #f4f5f9;
  --color-black: #181717;
  --color-gray: #636363;
  --color-bg-1: #160203;
  --color-bg-2: #0c0816;
  --color-bg-3: #180646;
  --transition: all 0.3s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: var(--color-secondary);
  color: var(--color-black);
  letter-spacing: 2px;
  word-spacing: 3px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.wrapper {
  width: 90% !important;
  margin: 0 auto !important;
}

header {
  background-image: url("./images/headerimg1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sub-menu {
  visibility: hidden;
  background-color: var(--color-primary);
  width: 170px;
  border-radius: 10px;
  transition: var(--transition);
}

.home:hover .sub-menu {
  visibility: visible;
}

.sub-menu li:hover {
  color: var(--color-black);
  transition: var(--transition);
}

.hero-heading {
  line-height: 100px !important;
}

h1,
h2 {
  font-family: "Fira Sans", sans-serif;
}

.with-border {
  display: flex;
  position: relative;
}

.with-border::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 35%;
  border-left: 2px solid #9b8d8d;
  transform: translateX(-50%);
}
.project-menu {
  visibility: hidden;
  background-color: var(--color-primary);
  width: 190px;
  border-radius: 10px;
  transition: var(--transition);
  margin-left: 10rem;
}

.project-sub:hover .project-menu {
  visibility: visible;
  color: var(--color-secondary);
}

.card {
  height: 250px;
  position: relative;
  z-index: 202;
  border: 1px solid rgba(255, 68, 0, 0.247);
  overflow: hidden;
  border-radius: 10px;
}

.card::before {
  content: "";
  width: 60px;
  height: 60px;
  background-color: var(--color-primary);
  position: absolute;
  top: 0;
  right: 0;
  border-bottom-left-radius: 100%;
  z-index: 201;
}

.card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 122, 47, 0.7);
  opacity: 0;
  transition: var(--transition);
}
.card:hover .overlay {
  opacity: 1;
}
.card .background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: var(--transition);
  overflow: hidden;
}
.card:hover .background-img {
  opacity: 1;
}
.card-content {
  position: relative;
  z-index: 1;
  color: var(--color-black);
}

.card:hover .card-content p {
  color: #f4f5f9;
  transition: var(--transition);
}
.card:hover .card-content h3 {
  color: #f4f5f9;
  transition: var(--transition);
}

.polygon-shape {
  background: #eaeaee;
  clip-path: polygon(88% 3%, 100% 5%, 100% 50%, 100% 100%, 0 99%, 0 15%);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 1;
  margin-bottom: 100px;
}

.agency {
  line-height: 1.4;
}

.service-agency {
  box-shadow: 5px 4px 8px 10px rgba(0, 0, 0.2, 0.2);
  border-radius: 14px;
}

@keyframes move {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-move {
  animation: move 2s infinite;
}

.contacts {
  background-image: url("https://res.cloudinary.com/highereducation/images/w_1024,h_683,c_scale/f_auto,q_auto/v1659634209/BestColleges.com/BC_Bootcamps_Resources_How-to-Decide-If-Coding-is-Right-for-Me_3.7.22_FTR_24718e35be/BC_Bootcamps_Resources_How-to-Decide-If-Coding-is-Right-for-Me_3.7.22_FTR-1024x683.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.service-tab {
  transform: rotate(-23deg);
}

.project-section {
  background-image: url("https://images.pexels.com/photos/7014337/pexels-photo-7014337.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300vh;
  width: 100vw;
}

.active {
  background-color: var(--color-primary);
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: all linear 0.5s;
}

.projects:hover .project-overlay {
  transform: scale(1);
}

.form-border {
  width: 100%;
  height: 10px;
  background-color: #ff7a2f;
}

.app-store {
  background-image: url("./images/service.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  border-radius: 5px;
}

.video-thm {
  transform: rotate(-49deg);
  border: 5px solid var(--color-secondary);
  background-color: #203240;
}

.blog-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ee65343a;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: all linear 0.5s;
}
.blog-img:hover .blog-overlay {
  transform: scale(1);
}

footer {
  background-image: url("./images/footer.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  border-radius: 5px;
}

.footer-botom-border {
  width: 89vw;
  height: 1px;
  background-color: #8b848483;
}

.scrolled {
  background-color: white;
  height: 90px;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 999;
  transition: background-color 0.3s ease;
}

.scrolled-text {
  color: black !important;
}

/* .mobile-nav {
  background-color: black;
  width: 100vw;
  height: 100vh;
  z-index: 555555;
}
.mobile-menu a {
  font-size: 16px;
}
.mobile-sub-menu {
  visibility: hidden;
  width: 140px;
  border-radius: 10px;
  margin-top: -5px;
  margin-left: 100px;
  transition: var(--transition);
}


.mobile-home:hover .mobile-sub-menu {
  visibility: visible;
}

.mobile-sub-menu li:hover {
  color: var(--color-black);
  transition: var(--transition);
}

.mobile-sub-menu li a {
  font-size: 15px;
} */

.company-project {
  margin-left: 150px;
}

@media (max-width: 768px) {
  .hero-heading {
    line-height: 50px !important;
  }

  .polygon-shape {
    background: #eaeaee;
    clip-path: polygon(88% 3%, 100% 3%, 100% 50%, 100% 100%, 0 100%, 0 5%);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 1;
    margin-bottom: 100px;
  }
}

/******** about page style start *********/

.about-header {
  background-image: url("./images/footer.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 50vh;
  position: relative;
}

/******** service page style start *********/
.service-card {
  border-radius: 2px 150px 2px 120px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}
.service-card:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  transition: 0.5s;
}

.service-arrow {
  transform: rotate(-44deg);
}

.service-card:hover .text-black,
.service-card:hover h3,
.service-card:hover p,
.service-card:hover .text-3xl,
.service-card:hover .fa-arrow-up {
  color: white;
}

.service-card:hover .service-arrow {
  background-color: white;
}

.service-card:hover .service-arrow .fa-arrow-up {
  color: #ff7a2f;
}

.team-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 68, 0, 0.212);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: all linear 0.5s;
}

.team-mem:hover .team-overlay {
  transform: scale(1);
}

.swiper-pagination-bullet {
  background: black !important;
  width: 12px !important;
  height: 12px !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet-active {
  background: #ff7a2f !important;
  width: 12px !important;
  height: 12px !important;
}

.mobile-home {
  position: relative;
}

.mobile-nav {
  background-color: black;
  width: 100vw;
  height: 100vh;
  z-index: 555555;
}
.mobile-menu a {
  font-size: 16px;
}
.mobile-sub-menu {
  display: none; /* Initially hide the sub-menu */
  width: 140px;
  border-radius: 10px;
  margin-top: 0; /* Reset margin-top */
  background-color: var(--color-primary);
  transition: var(--transition);
  transform: translateX(100px); /* Translate instead of margin */
}

.mobile-sub-menu li:hover {
  color: var(--color-black);
  transition: var(--transition);
}
.mobile-sub-menu li a {
  font-size: 15px;
}
